<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Who Am I</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <h1>Like i said, my name is Kate</h1>

    <article class="important">
        <h2>Here's the important parts</h2>
        <p>Well. As important as anything here gets, really</p>
        <ul>
            <li>I'm 18</li>
            <li>My birthday is October 13th</li>
            <li>I really like Transformers</li>
            <li>I'm nonbinary.</li>
            <li>They/them pronouns, but i don't actually care</li>
            <li>I really like my girlfriend</li>
        </ul>
    </article>

    <article class="interests">
        <h2>I like many things. Here's a selection.</h2>
        <p>ask me about them. I like to yap</p>
        <ul>
            <li>I like Transformers a lot</li>
            <li>Real life trains are pretty neat</li>
            <li>I've watched some anime</li>
            <li>Have I mentioned Transformers?</li>
            <li>I <a href="https://www.instagram.com/kitkatisvibing/">cosplay!</a></li>
            <li>No but really, my biggest interest is Transformers</li>
        </ul>
    </article>

    <a href="/gallery" class="creaturefeature"><button type="button">Creature Feature</button></a>

    <a href="/" class="home"><button type="button">Go Home</button></a>
</body>
</html>